/old/.idea/compiler.xml
/old/.idea/encodings.xml
/old/.idea/jarRepositories.xml
/old/.idea/misc.xml
/old/.idea/vcs.xml
/old/.idea/workspace.xml
/old/src/main/java/it/bribank/gestioneMutui/config/CorsConfig.java
/old/src/main/java/it/bribank/gestioneMutui/config/OpenApiConfig.java
/old/src/main/java/it/bribank/gestioneMutui/controller/AnagraficaController.java
/old/src/main/java/it/bribank/gestioneMutui/controller/AnagraficaRichiedenteController.java
/old/src/main/java/it/bribank/gestioneMutui/controller/CadenzaRataController.java
/old/src/main/java/it/bribank/gestioneMutui/controller/ComuneController.java
/old/src/main/java/it/bribank/gestioneMutui/controller/DurataController.java
/old/src/main/java/it/bribank/gestioneMutui/controller/PianoAmmortamentoController.java
/old/src/main/java/it/bribank/gestioneMutui/controller/PosizioneLavorativaController.java
/old/src/main/java/it/bribank/gestioneMutui/controller/SpreadController.java
/old/src/main/java/it/bribank/gestioneMutui/controller/TipoMutuoController.java
/old/src/main/java/it/bribank/gestioneMutui/dto/AnagraficaDto.java
/old/src/main/java/it/bribank/gestioneMutui/dto/AnagraficaRichiedenteDto.java
/old/src/main/java/it/bribank/gestioneMutui/dto/PianoAmmortamentoDto.java
/old/src/main/java/it/bribank/gestioneMutui/entity/Anagrafica.java
/old/src/main/java/it/bribank/gestioneMutui/entity/AnagraficaRichiedente.java
/old/src/main/java/it/bribank/gestioneMutui/entity/CadenzaRata.java
/old/src/main/java/it/bribank/gestioneMutui/entity/Comune.java
/old/src/main/java/it/bribank/gestioneMutui/entity/Durata.java
/old/src/main/java/it/bribank/gestioneMutui/entity/PianoAmmortamento.java
/old/src/main/java/it/bribank/gestioneMutui/entity/PosizioneLavorativa.java
/old/src/main/java/it/bribank/gestioneMutui/entity/RichiestaMutuo.java
/old/src/main/java/it/bribank/gestioneMutui/entity/Spread.java
/old/src/main/java/it/bribank/gestioneMutui/entity/TipoMutuo.java
/old/src/main/java/it/bribank/gestioneMutui/repository/AnagraficaRepository.java
/old/src/main/java/it/bribank/gestioneMutui/repository/AnagraficaRichiedenteRepository.java
/old/src/main/java/it/bribank/gestioneMutui/repository/CadenzaRataRepository.java
/old/src/main/java/it/bribank/gestioneMutui/repository/ComuneRepository.java
/old/src/main/java/it/bribank/gestioneMutui/repository/DurataRepository.java
/old/src/main/java/it/bribank/gestioneMutui/repository/InserimentoRichiestaMutuoRepository.java
/old/src/main/java/it/bribank/gestioneMutui/repository/PianoAmmortamentoRepository.java
/old/src/main/java/it/bribank/gestioneMutui/repository/PosizioneLavorativaRepository.java
/old/src/main/java/it/bribank/gestioneMutui/repository/SpreadRepository.java
/old/src/main/java/it/bribank/gestioneMutui/repository/TipoMutuoRepository.java
/old/src/main/java/it/bribank/gestioneMutui/service/PianoAmmortamentoService.java
/old/src/main/java/it/bribank/gestioneMutui/GestioneMutuiApplication.java
/old/src/main/resources/application.properties
/old/src/test/java/it/bribank/gestioneMutui/GestioneMutuiApplicationTests.java
/old/target/classes/it/bribank/gestioneMutui/config/CorsConfig.class
/old/target/classes/it/bribank/gestioneMutui/config/OpenApiConfig.class
/old/target/classes/it/bribank/gestioneMutui/controller/AnagraficaController.class
/old/target/classes/it/bribank/gestioneMutui/controller/ComuneController.class
/old/target/classes/it/bribank/gestioneMutui/dto/AnagraficaDto.class
/old/target/classes/it/bribank/gestioneMutui/entity/Anagrafica.class
/old/target/classes/it/bribank/gestioneMutui/entity/Comune.class
/old/target/classes/it/bribank/gestioneMutui/repository/AnagraficaRepository.class
/old/target/classes/it/bribank/gestioneMutui/repository/ComuneRepository.class
/old/target/classes/it/bribank/gestioneMutui/GestioneMutuiApplication.class
/old/target/classes/application.properties
/old/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/old/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/old/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/old/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/old/target/surefire-reports/it.bribank.gestioneMutui.GestioneMutuiApplicationTests.txt
/old/target/surefire-reports/TEST-it.bribank.gestioneMutui.GestioneMutuiApplicationTests.xml
/old/target/test-classes/it/bribank/gestioneMutui/GestioneMutuiApplicationTests.class
/old/pom.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/target/classes/it/bribank/gestioneMutui/controller/AnagraficaRichiedenteController.class
/target/classes/it/bribank/gestioneMutui/controller/CadenzaRataController.class
/target/classes/it/bribank/gestioneMutui/controller/DurataController.class
/target/classes/it/bribank/gestioneMutui/controller/PianoAmmortamentoController.class
/target/classes/it/bribank/gestioneMutui/controller/PosizioneLavorativaController.class
/target/classes/it/bribank/gestioneMutui/controller/RichiestaMutuoController.class
/target/classes/it/bribank/gestioneMutui/controller/SpreadController.class
/target/classes/it/bribank/gestioneMutui/controller/TipoMutuoController.class
/target/classes/it/bribank/gestioneMutui/dto/AnagraficaRichiedenteDto.class
/target/classes/it/bribank/gestioneMutui/dto/PianoAmmortamentoDto$ListaPianoAmmortamentoDto.class
/target/classes/it/bribank/gestioneMutui/dto/PianoAmmortamentoDto.class
/target/classes/it/bribank/gestioneMutui/dto/RichiestaMutuoDto.class
/target/classes/it/bribank/gestioneMutui/dto/RichiestaMutuoResponseDto.class
/target/classes/it/bribank/gestioneMutui/entity/AnagraficaRichiedente.class
/target/classes/it/bribank/gestioneMutui/entity/CadenzaRata.class
/target/classes/it/bribank/gestioneMutui/entity/Durata.class
/target/classes/it/bribank/gestioneMutui/entity/PianoAmmortamento.class
/target/classes/it/bribank/gestioneMutui/entity/PosizioneLavorativa.class
/target/classes/it/bribank/gestioneMutui/entity/RichiestaMutuo.class
/target/classes/it/bribank/gestioneMutui/entity/Spread.class
/target/classes/it/bribank/gestioneMutui/entity/TipoMutuo.class
/target/classes/it/bribank/gestioneMutui/repository/AnagraficaRichiedenteRepository.class
/target/classes/it/bribank/gestioneMutui/repository/CadenzaRataRepository.class
/target/classes/it/bribank/gestioneMutui/repository/DurataRepository.class
/target/classes/it/bribank/gestioneMutui/repository/InserimentoRichiestaMutuoRepository.class
/target/classes/it/bribank/gestioneMutui/repository/PianoAmmortamentoRepository.class
/target/classes/it/bribank/gestioneMutui/repository/PosizioneLavorativaRepository.class
/target/classes/it/bribank/gestioneMutui/repository/RichiestaMutuoRepository.class
/target/classes/it/bribank/gestioneMutui/repository/SpreadRepository.class
/target/classes/it/bribank/gestioneMutui/repository/TipoMutuoRepository.class
/target/classes/it/bribank/gestioneMutui/service/PianoAmmortamentoService.class
